
body{
    background-image: url("../img/sgn.JPG");
    background-size: cover;

}

h1 {
    font-size: 45px;
    font-weight: bold;
    margin: 25px;
}
h2 {
    font-size: 30px;
    font-style: italic;
    color: blueviolet;
}

p {
    font-size: 20px;
    font-weight: bold;
    outline: 3px;
    margin: 25px;
    background: rgba(255,255,255,0.6)

}

lh{
    font-size: 20px;
    font-weight: bold;
}
ul {
    list-style-type: circle;
    margin: 25px;
    outline: 3px;
    background: rgba(255,255,255,0.6)
}

li{
    margin: 25px;
}

ol {
    list-style-type: decimal;
    margin: 25px;
    outline: 3px;
    background: rgba(255,255,255,0.6)
}

